<mat-toolbar color="primary">
    <span>Logo da Empresa</span>
    <span class="spacer"></span>
    <button mat-icon-button class="menu-icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <nav class="nav-menu" [ngClass]="{ 'expanded': menuOpen }">
      <a mat-button routerLink="/">Pagina Inicial</a>
      <a mat-button routerLink="/servicos">Serviços</a>
      <a mat-button routerLink="/contato">Contato</a>
      <a mat-button routerLink="/sobre">Sobre</a>
    </nav>
  </mat-toolbar>