<main>
  <mat-toolbar>
    <span class="logo">Logo da Empresa</span>
    <span class="spacer"></span>
    <nav class="nav-bar">
      <button
        mat-button
        *ngFor="let item of menuItems"
        [routerLink]="item.link"
      >
        {{ item.label }}
      </button>
    </nav>
  </mat-toolbar>
</main>

<div class="menu">
  <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button
      mat-button
      *ngFor="let item of menuItems"
      [routerLink]="item.link"
      style="display: flex; 
      flex-direction: column; 
      padding: 0; 
      justify-content: flex-start;
      "
    >
      {{ item.label }}
    </button>
  </mat-menu>
</div>
